.login{
    border:1px solid black;
    text-align: center;
    width:400px;
    height:500px;
    background:url('OIP\ \(9\).webp;')
    color:white;
    boarder-radius:20px;
    box shadow:0px 0px 20px rgba(0,0,0,0,75);
    background-size:cover;
    background-position:picture-in-picture;
    overflow:hidden;
}
form{
    display: block;
    box-sizing: boarder-box;
    padding: 40px;
    width:100%;
    height:100%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display: flex;
    gap:5px;

}
h1{
    font-weight: normal;
    font: size 24px;
    margin: bottom 60px;
}
label{
    color:rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
}
input{
    background: rgba(255, 255, 255, 0.3);
    height: 40px;
    line-height: 40px;
    border-radius : 20px;
    padding; 0px 20px;
    boarder: none;
    color: white;

}
button{
    background:rgb(45, 126, 231);
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    box-shadow: black;
    color: white;
    padding: 0 20px;
}